*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.calculator{
   display:flex;
   justify-content: center;
   align-items: center;
   background-color:bisque;
   height:100vh;
   width:100vw;
   font-family: Arial, sans-serif;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

}
.calculator .calculator_screen{
     height:500px;
     width:400px;
     /* background-color: rgb(133, 97, 167); */
    background-color: #73BBA3;
     padding:15px;
     font-size: 2.5rem;

}
.calculator .display_output{
       /* color:azure; */
       font-size: 2.5rem;     
       width:100%;
       height:15%;
       /* background-color: rgb(16, 233, 49,0.75);    */
       /* background-color: #06D001; */
       background-color: #F6FB7A;
       text-align: right;
       margin:auto;
       border-radius: 7px;
       margin-bottom:20px; 
       /* box-shadow: 4px rgb(73, 66, 66);
   */
       box-shadow: 0 0 1rem rgba(0,0,0,0.55);
       
}

.buttons{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    gap:10px;
   
    
}

.cal_btn{
    height:65px;
    width:65px;
    border-radius: 50%;
    /* background-color: cornflowerblue; */
    background-color:#7dcc61;
    margin-left: 10px;
   /* color:white; */
    font-size: 1.5rem;
   box-shadow:  2px 3px 0.25px black;
   border: none;


}
 .operator{
   /* background-color: darkorange; */
   background-color: #F6FB7A;
   font-size: 1.5rem;

}
.cal_btn:hover {
    /* background-color: pink; */
    background-color: #79e153;
}
.operator:hover {
    background-color:rgb(238, 233, 81);
}
.equals:hover {
    background-color: #ffab40;
}